/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB    &kp Q       &kp W       &kp F        &kp P             &kp B            &kp K    &kp L              &kp U        &kp Y            &kp P            &kp BSPC
&kp ESC    &mt LGUI A  &mt LALT R  &mt LCTRL S  &mt LEFT_SHIFT T  &kp G            &kp M    &mt RIGHT_SHIFT N  &mt RCTRL E  &mt RIGHT_ALT I  &mt RIGHT_GUI O  &kp ENTER
&kp LSHFT  &kp Z       &kp X       &kp C        &kp D             &kp V            &kp J    &kp H              &kp COMMA    &kp DOT          &kp FSLH         &kp ESC
                                   &kp TAB      &kp LEFT_SHIFT    &kp BACKSPACE    &kp RET  &mo 2              &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB    &kp PLUS        &kp ASTERISK  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SEMICOLON    &kp PIPE      &kp AMPERSAND  &kp DOLLAR        &kp TILDE        &trans  &kp BSPC
&trans     &kp UNDERSCORE  &kp MINUS     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE        &kp EQUAL     &kp LESS_THAN  &kp GREATER_THAN  &kp SQT          &trans  &trans
&kp LSHFT  &kp AT_SIGN     &kp PERCENT   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp COLON        &kp QUESTION  &kp HASH       &kp COLON         &kp EXCLAMATION  &trans  &trans
                                         &trans                &trans                 &trans           &trans        &trans         &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB    &trans  &trans  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans    &trans  &trans          &kp UP_ARROW    &trans           &trans  &trans
&kp LCTRL  &trans  &trans  &trans             &trans           &trans    &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&kp LSHFT  &trans  &trans  &trans             &trans           &trans    &trans  &trans          &trans          &trans           &trans  &trans
                           &trans             &trans           &trans    &trans  &trans          &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
